pkgbase = dagensdatalog-service
	pkgdesc = A Systemd service and timer for automatically changing the users wallpaper to todays wallpaper from Dagensdatalog.dk
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/naueramant/dagensdatalog-service
	install = .install
	arch = any
	license = MIT
	depends = systemd
	depends = gnome-shell
	source = .install
	source = LICENSE
	source = dagensdatalog
	source = dagensdatalog.service
	source = dagensdatalog.timer
	md5sums = bcaae4cc9a44dd61563308fbcf6a5fb9
	md5sums = 00c8ace1c77aa4155be87c874321dfc4
	md5sums = 21c2205fe57a5fe06606ef096fce848e
	md5sums = 6025809739e7001ccf01bb5bec13e9c7
	md5sums = 5f931b2182611c62bf66abc9d2191592

pkgname = dagensdatalog-service

